.product-header {

    h1 {
        border-bottom: 1px solid black;
        padding-bottom: 0.6em;
        margin-right: 0em;
        line-height: 42px;
    }
}

.button {
    border-radius: 0.4em;
    padding: 0.3em 0em;
    text-align: center;
    text-transform: uppercase;
    font-family: "Trade Gothic W01";
    transition: 0.5s all ease-in-out;

    &:hover {
        transition: 0.5s all ease-in-out;
    }

    &__buy {
        background: $pink;

        > a {
            color: $white;
        }

        &:hover {
            background: lighten($pink, 10%);
        }
    }
}

// ****************************************
// Carousel Styling
// ****************************************
.owl-prev,
.owl-next {
    // important used to override plugins high specificity
    background: none !important;
    color: black !important;
    font-size: 43px !important;
    position: absolute;
    top: 45%;
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}


// ****************************************
// Accordion Styles
// ****************************************
.accordion {
    clear: both;
    list-style-type: none;
    padding-left: 0;

    > li {
        clear: both;
    }

    &__content {

        ul {
            padding-left: 2em;
        }
    }

    &__trigger {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            display: inline-block;
            background: url($image-decoration + 'accordion-open-black.png');
            width: 25px;
            height: 14px;
            left: 13px;
            bottom: -33px;
            z-index: 1;
        }

        h4 {
            margin: 0;
            padding: 1em 0 1em 3em;
            margin-bottom: 0.5em;
            background: $lightgrey;
            transition: 0.5s all ease-in-out;
            font-family: "Trade Gothic W01";

            &:hover {
                background: darken($lightgrey, 10%);
                transition: 0.5s all ease-in-out;
            }
        }

        &.active {
            display: block;

            &:before {
                content: "";
                position: absolute;
                display: inline-block;
                background: url($image-decoration + 'accordion-closed-black.png');
                width: 25px;
                height: 14px;
                left: 13px;
                bottom: 20px;
                z-index: 1;
            }
        }
    }
}

// ****************************************
// Accordion Content Styles
// ****************************************
.product-details {

     p:last-of-type {
         margin-bottom: 2em;
     }
}

.faces-set {
    margin-top: 0;
    border: none;
}

.lens-info {

    aside {
        display: inline-block;
        vertical-align: top;

        @include breakpoint($tablet-mid) {
            width: 33%;
        }
    }

    h5 {
        text-align: center;
    }

    ul {
        @include breakpoint($tablet-mid) {
            min-height: 13em;
        }
    }
}
