.product-header {

    h1 {
        border-bottom: 1px solid black;
        padding-bottom: 0.6em;
        margin-right: 0em;
    }
}

.button {
    border-radius: 0.4em;
    padding: 0.5em;
    text-align: center;
    text-transform: uppercase;
    font-family: "Trade Gothic W01";
    transition: 0.5s all ease-in-out;

    &:hover {
        transition: 0.5s all ease-in-out;
    }

    &__buy {
        background: $pink;

        > a {
            color: $white;
        }

        &:hover {
            background: lighten($pink, 10%);
        }
    }
}

.accordion {
    clear: both;
    list-style-type: none;

    > li {
        clear: both;
    }

    &__content {
        display: none;

        &.active {
            display: block;
        }
    }

    &__trigger {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            display: inline-block;
            background: url($image-decoration + 'accordion-open.png');
            width: 25px;
            height: 14px;
            left: -36px;
            bottom: -18px;
        }

        &.active {
            display: block;

            &:before {
                content: "";
                position: absolute;
                display: inline-block;
                background: url($image-decoration + 'accordion-closed.png');
                width: 25px;
                height: 14px;
                left: -36px;
                bottom: 3px;
            }
        }
    }
}

.faces-set {
    margin-top: 0;
    border: none;
}

#lensInfo {

    aside {
        display: inline-block;

        @include breakpoint($tablet-mid) {
            width: 33%;
        }
    }

    h5 {
        text-align: center;
    }
}
