.product-header {

    h1 {
        border-bottom: 1px solid black;
        padding-bottom: 0.6em;
        margin-right: 0em;
    }
}

.accordion-nav {
    clear: both;
    ul {
        padding-left: 0;
    }

    li {
        display: inline-block;
        width: 100%;
        text-align: center;
        transition: 0.5s all ease-in-out;

        @include breakpoint($tablet-mid) {
            width: 24%;
        }

        &:hover {
            background: #E7E7E8;
            transition: 0.5s all ease-in-out;
        }
    }
}

.accordion {
    clear: both;
}

.accordion-content {
    display: none;

    &.active {
        display: block;
    }
}

.faces-set {
    margin-top: 0;
    border: none;
}

#lensInfo {

    aside {
        display: inline-block;

        @include breakpoint($tablet-mid) {
            width: 33%;
        }
    }

    h5 {
        text-align: center;
    }
}
